@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

/* @font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gta-ui';
    src: url('gta-ui.ttf');
}

@font-face {
    font-family: 'pdown';
    src: url('pdown.ttf');
} */

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
} */

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}


/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hud {
    display: block;
    position: absolute;
    z-index: 99 !important; 
}

.wrapper{
    margin: auto;
}

h3 {
    text-align: center;
}

.one {
    font-size: 4.5vh;
}